    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contactenos</h3>
                        <ul class="list-unstyled">
                            <li class="address">Av. de la Reina Mercedes, s/n, 41012 Sevilla, España </li>
                            <li class="phone"><a href="tel://34954552828">+34 954 55 28 28 </a></li>
                            <li class="email">info@nexoshoes.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>